@charset "utf-8";

.titulo{
    font-size: 13pt;
    font-weight: bolder;
}

body{
    width: 98%;
    height: auto;
    margin: auto;
    background-color: #f5f5f5;
}

.container-card{
    padding: 50px 0;
    margin-bottom: 2em;
}

.img-card-perfil{
    display: flex;
    justify-content: center;
}

.card-title{
    font-family: 'Poppins';
    font-size: 18pt;
}

hr.hr{
    width: 70%;
    height: 1px;
    padding: 2px;
    margin: auto;
    border-radius: 100%;
    background: rgb(255, 255, 255);
}

.card-image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 2em;
}

.card-perfil{
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color: rgba(47, 103, 255, 0.65) !important;
    box-shadow: 0 0 5px #f5f5f5;
}

.botoes-card{
    display: flex;
    justify-content: center;
}

#btn-sobre{
    margin: auto;
    border-radius: 20px;
    padding: 5px 25px;
    background-color: rgb(0, 0, 0) !important;
    font-weight: bold;
    color: #ffffff;
    transition: 0.2s;
}

#btn-sobre:hover{
    background: rgb(58, 58, 58) !important;
}

#btn-projetos{
    margin: auto;
    border:  2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px 25px;
    font-weight: 600;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.3);
}

#btn-projetos:hover{
    background: rgba(252, 252, 252, 0.5) !important;
}

.icons-redes-sociais{
    text-align: center;
    padding: 10px;
}

.title-text{
    font-weight: 600;
}

.title-subtitle{
    margin: 0.5em 0;
    text-align: justify;
}

p{
    text-align: justify;
}

.text{
    padding: 25px 20px;
    background-color: rgb(255, 255, 255) !important;
}

.links-redes-sociais{
    text-decoration: none;
}

.links-redes-sociais i{
    color: black;
    font-size: 25px;
    padding: 10px;
}

#footer-elementos{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.container-linear{
    background-image: url(../img/04.jpg);
    background-size: 90% 35%;
    background-position: 50% 12%;
    background-repeat: no-repeat;
}

@media (min-width: 900px){
    hr.hr{
        background-color: black;
    }
    
    #btn-projetos{
        border:  2px solid black;
        color: #000000;
    }
    
    #btn-projetos:hover{
        background: rgb(211, 211, 211) !important;
    }

    .container-linear{
        background-color: rgb(255, 255, 255);
        background-image: url(../img/04.jpg);
        background-size: contain;
        background-position: initial;
        background-repeat: no-repeat;
    }


    .card-col{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        background-color: rgba(255, 255, 255, 0.8) !important;
        box-shadow: -12px 10px 10px 0  rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .card-perfil{
        background-color: transparent !important;
        color: #292a2b;
        box-shadow: none !important;
        width: 18em;
        border: none !important;
    }

    .btn-card{
        color: black;
    }

    .text-body{
        box-shadow: none;
    }

    .text{
        max-width: 430px;
        vertical-align: middle;
        margin-top: 2em;
    }    

    #footer-elementos{
        padding: 6% 0;
        background-color: rgba(47, 103, 255, 0.65);
        display: flex !important;
        justify-content: center !important;
        align-items: center;
    }

    #nome{
        color: rgb(0, 0, 0) !important;
    }

    #cargo{
        color: rgb(0, 0, 0) !important;
    }
}

#textoProjetos{
    display: none;
}

#textoProjetos a{
    display: inline-block;
    margin: 3px 0.5px;
    padding: 5px 10px;
    background-color: rgb(212, 212, 212);
    text-decoration: none;
}

#textoProjetos a:hover{
    background-color: rgb(213, 184, 240);
}

#link-github{
    text-decoration: none;
}

#link-github:hover{
    text-decoration: underline;
}

#nome{
    color: rgb(255, 255, 255);
}

#cargo{
    color: rgb(255, 255, 255);
}

/* Folha de currículo */
div#container{
    position: relative;
    width: 90%;
    height: auto;
    margin: auto auto 5% auto;
    padding: 3%;
    color: rgb(80, 80, 80);

}

div#container h1{
    width: 100%;
    height: auto;
    margin: auto auto 3% auto;
    text-align: center;
    font-size: 30pt;
}

div#container div.box{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto 7% auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

div#container div.box div{
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 1%;
    border: 5px solid rgb(121, 121, 121);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#container div.box div img{
    width: 40%;
}

div#container div.box div div.texto{
    display: block;
    width: 60%;
    height: auto;
    margin: auto;
}

/*------------*/
div#container div.box div#sistemas{
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

div#container div.box div#sistemas div.texto{
    border: none;
    text-align: right;
}

div#container div.box div#sistemas div.texto p{
    text-align: right;
}

div#container div.box div#sistemas div.texto button{
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 100px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 3px 3px 8px rgb(121, 121, 121);
}

div#container div.box div#sistemas div.texto button:hover{
    box-shadow: -2px -2px 8px rgb(121, 121, 121);
}

/*------------*/
div#container div.box div#administracao{
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

div#container div.box div#administracao div.texto{
    border: none;
    text-align: left;
}

div#container div.box div#administracao div.texto p{
    text-align: left;
}

div#container div.box div#administracao div.texto button{
    width: 180px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 100px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 3px 3px 8px rgb(121, 121, 121);
}

div#container div.box div#administracao div.texto button:hover{
    box-shadow: -2px -2px 8px rgb(121, 121, 121);
}





